@use "_root-nav-group";

@mixin chevron-down-icon {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--svg-chevron-down-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}

.br-nav-group {
    box-sizing: border-box;
    --_br-svg-nav-group-icon: none;
    --_icon-size: 1em;
    --_icon-column-size: 2em;
    --_padding-gap: var(--_icon-column-size);
    list-style: none;
    margin: 0;
    padding: 0;
    padding-inline: var(--br-unit-space-3);
    padding-bottom: var(--br-unit-space-2);

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-block: var(--br-unit-space-2);
    }

    button.br-nav-group__trigger {
        appearance: none;
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: var(--br-comp-nav-group-area-header-background);
        color: inherit;
        text-align: start;
        border: none;
        outline: none;
        cursor: pointer;
        line-height: var(--br-comp-nav-group-area-header-line-height);
        font-size: var(--br-comp-nav-group-area-content-font-size);
        font-weight: var(--br-comp-nav-group-area-header-font-weight);
        font-family: var(--br-comp-nav-group-area-header-font-family);
        display: grid;
        grid-template-columns: var(--_icon-column-size) auto var(--_icon-column-size);
        grid-template-rows: auto;
        align-items: center;
        padding-block: var(--br-unit-space-4);
        padding-inline-start: calc(var(--_br-svg-nav-group-depth) * var(--_padding-gap));
        border-width: var(--br-comp-nav-group-area-header-border-width);
        border-style: var(--br-comp-nav-group-area-header-border-style);
        border-color: var(--br-comp-nav-group-area-header-border-colour);
        border-radius: var(--br-comp-nav-group-area-header-border-radius);
        //overflow: visible;
        padding-inline-end: var(--br-unit-space-2);

        &:hover {
            background-color: var(--br-comp-nav-group-hover-background);
        }

        &:focus-visible {
            background-color: var(--br-comp-nav-group-hover-background);
            outline-offset: var(--br-comp-nav-group-outline-offset);
            outline-style: var(--br-comp-nav-group-outline-style);
            outline-width: var(--br-comp-nav-group-outline-width);
            outline-color: var(--br-comp-nav-group-outline-colour);
            color: var(--br-comp-nav-group-area-header-text);
        }

        &[aria-expanded="true"] > .br-nav-group__trigger-icon {
            transform: rotate(180deg);
        }

        &[aria-expanded="true"]:hover {
            background-color: var(--br-comp-nav-group-selected-hover);
        }

        &[aria-expanded="true"] {
            font-weight: bold;
            color: var(--br-comp-nav-group-area-header-text);
        }

            &[aria-expanded="true"] + .br-nav-group__content {
                display: block
            }

        &[aria-expanded="false"] + .br-nav-group__content {
            display: none;
        }

        &:focus-visible .br-nav-group__trigger-icon, &:hover .br-nav-group__trigger-icon {
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
        }
    }



    &__title {
        grid-column: 2/3;
        padding-inline: var(--br-unit-space-2);
    }

    &__trigger-icon {
        min-height: var(--br-unit-wcag-target-2a);
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: transform 200ms ease;
        grid-column: 3/4;

        & > span {
            height: calc(var(--_icon-size) * 1.25);
            aspect-ratio: 1/1;
            @include chevron-down-icon;
        }
    }

    &__icon {
        height: 1.5rem;
        aspect-ratio: 1/1;
        display: inline-block;
        background-color: currentColor;
        mask-image: var(--_br-svg-nav-group-icon);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;

        @media (forced-colors: active) {
            background-color: CanvasText;
        }

        grid-column: 1/2;
    }

    &__link {
        all: unset;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: block;
        width: 100%;
        cursor: pointer;
        padding-block: var(--br-unit-space-4);
        display: grid;
        grid-template-columns: var(--_icon-column-size) auto;
        font-size: var(--br-comp-nav-group-area-content-font-size);
        font-weight: var(--br-comp-nav-group-area-content-font-weight);
        font-family: var(--br-comp-nav-group-area-content-font-family);
        line-height: var(--br-comp-nav-group-area-content-line-height);
        align-items: center;
        padding-inline-start: calc(var(--_br-svg-nav-group-depth) * var(--_padding-gap));
        text-align: start;
        justify-content: start;
        border-radius: var(--br-comp-nav-group-area-content-border-radius);
        color: var(--br-comp-nav-group-area-content-text);
        background-color: var(--br-comp-nav-group-area-content-background);

        &:hover {
            background-color: var(--br-comp-nav-group-hover-background);
        }

        &:focus-visible {
            position: relative;
            z-index: 1;
            color: var(--br-comp-nav-group-area-content-text);
            outline-offset: var(--br-comp-nav-group-outline-offset);
            outline-style: var(--br-comp-nav-group-outline-style);
            outline-width: var(--br-comp-nav-group-outline-width);
            outline-color: var(--br-comp-nav-group-outline-colour);
            background-color: var(--br-comp-nav-group-link-focused-background);
        }

        &[aria-current="page"] {
            background-color: var(--br-comp-nav-group-current-page-background);
            font-weight: var(--br-unit-font-weight-500, bold);
        }

        &:active {
            background-color: var(--br-comp-nav-group-link-focused-background);
        }
    }

    &__link-text {
        grid-column: 2/3;
        padding-inline: var(--br-unit-space-2);
    }

    &__separator {
        margin: 0;
        border: none;
        opacity: 1;
        border-top-color: var(--br-comp-nav-group-area-content-border-colour);
        border-top-style: var(--br-comp-nav-group-area-content-border-style);
        border-top-width: var(--br-comp-nav-group-area-content-border-width);
    }
}