@use "_root-dialog-framework";

.br-dialog-framework {
    border: none;
    display: flex;
    padding: var(--br-comp-mdframe-padding);
    min-width: 100%;
    min-height: 100%;
    background-color: transparent;

    &::backdrop {
        backdrop-filter: blur(2px);
    }

    &:focus-visible {
        outline-offset: var(--br-comp-mdframe-outline-offset);
        outline-style: var(--br-comp-mdframe-outline-style);
        outline-width: var(--br-comp-mdframe-outline-width);
        outline-color: var(--br-comp-mdframe-outline-colour);
    }

    &__window {
        min-width: var(--br-unit-wcag-reflow-2a);
        max-height: 95vh;
        height: auto;
        border-width:     var(--br-comp-mdframe-pane-base-border-width);
        border-radius:    var(--br-comp-mdframe-pane-base-border-radius);
        background-color: var(--br-comp-mdframe-pane-base-background);
        position: relative;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        animation: fadeIn 150ms ease-in forwards;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}