@use "_root-dialog-framework";

//added to dialog to defend against bootstraps ridculous resets and overrides.

dialog.br-dialog-framework {
    border: none;
    margin: 0;
}

.br-dialog-framework {
    display: flex;
    padding: var(--br-comp-mdframe-dialog-padding);
    min-width: 100%;
    min-height: 100%;
    background-color: transparent;

    &::backdrop {
        background-color: var(--br-comp-mdframe-pane-base-background-colour);
    }

    &__window {
        min-width: var(--br-unit-wcag-reflow-2a);
        min-height: calc(var(--br-unit-wcag-reflow-2a)/ 2);
        max-height: 95vh;
        height: auto;
        border-width: var(--br-comp-mdframe-area-content-border-width);
        border-radius: var(--br-comp-mdframe-area-content-border-radius);
        border-style: var(--br-comp-mdframe-area-content-border-style);
        border-color: var(--br-comp-mdframe-area-content-border-colour);
        background-color: var(--br-comp-mdframe-area-content-background);
        position: relative;
        width: 100%;
        overflow: hidden;
        box-shadow: var(--br-comp-mdframe-box-shadow);
        opacity: 0;
        transform: translateY(-20px);
        animation: slideIn 200ms ease-in forwards;

        &:focus-visible {
            outline-offset: var(--br-comp-mdframe-outline-offset);
            outline-style: var(--br-comp-mdframe-outline-style);
            outline-width: var(--br-comp-mdframe-outline-width);
            outline-color: var(--br-comp-mdframe-outline-colour);
        }
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
