@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div style="height:100px;width:100px;background-color:var(--br-primary-clr-lighter-30);">
    Lighter
</div>
<div style="height:100px;width:100px;background-color:var(--br-primary-clr-darker-30);">
    Darker
</div>

<dialog>
    Some cnntent
    <button type="button">Test</button>
</dialog>