@use "_root-toggle-tip";

@mixin information-icon {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--svg-information-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}


.br-toggle-tip {
    $break-point-width: 576px;

    --_icon-size: 1.5em;
    --_toggle-tip-floor-width: var(--br-unit-wcag-reflow-2a);
    --_toggle-tip-floor-height: 300px;
    --_toggle-tip-target-width: var( --_toggle-tip-floor-width);
    --_toggle-tip-target-height: var(--_toggle-tip-floor-height);
    box-sizing: border-box;
    anchor-scope: --toggle-tip-anchor;
    display: inline;
    border: solid;
    border: 0;
    border-color: transparent;
    color: inherit;
    background-color: inherit;

    &--small {
        --_toggle-tip-target-width: 30vw;
        --_toggle-tip-target-height: 40vh;
    }

    &--medium {
        --_toggle-tip-target-width: 40vw;
        --_toggle-tip-target-height: 50vh;
    }

    &--large {
        --_toggle-tip-target-width: 50vw;
        --_toggle-tip-target-height: 60vh;
    }

    &__label {
        color: inherit; // var(--br-comp-toggle-tip-trigger-label-text);
        font-family: var(--br-comp-toggle-tip-trigger-label-font-family);
        font-size: var(--br-comp-toggle-tip-trigger-label-font-size);
        font-weight: var(--br-comp-toggle-tip-trigger-label-font-weight);
    }

    & button.br-toggle-tip__trigger { // done tike this due to overrides from frameworks like bootstrap
        all: revert;
        color: inherit;
        background-color: inherit;
        position: relative;
        appearance: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
        justify-content: start;
        align-items: center;
        gap: var(--br-unit-space-1);
        font-size: inherit;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;


        &--no-label {
            vertical-align: middle;
        }

        &--reverse {
            flex-direction: row-reverse;
        }

        &:focus-within .br-toggle-tip__anchor::before {
            outline-style: var(--br-comp-toggle-tip-trigger-outline-style);
            outline-width: var(--br-comp-toggle-tip-trigger-outline-width);
            outline-offset: var(--br-comp-toggle-tip-trigger-outline-offset);
            outline-color: var(--br-comp-toggle-tip-trigger-outline-colour);
        }

        &:hover::after {
            position: absolute;
            content: "";
            top: calc(var(--br-unit-space-2) * -1);
            bottom: calc(var(--br-unit-space-2) * -1);
            left: calc(var(--br-unit-space-3) * -1);
            right: calc(var(--br-unit-space-3) * -1);
            background-color: var(--br-comp-toggle-tip-button-state-hover);
            border-radius: 9999px; // pill shape
            pointer-events: none; // prevent the pseudo-element intercepting mouse events
        }
    }

    &__anchor {
        position: relative;
        anchor-name: --toggle-tip-anchor;
        display: inline-flex;
        vertical-align: middle;
        align-items: center;


        &::before {
            content: "";
            position: absolute;
            min-height: var(--br-unit-wcag-target-2a);
            min-width: var(--br-unit-wcag-target-2a);
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            border-radius: var(--br-comp-toggle-tip-trigger-border-radius);
        }
    }

    &__info-icon {
        color: var(--br-comp-toggle-tip-trigger-Icon-colour);
        height: var(--_icon-size);
        width: var(--_icon-size);
        @include information-icon;
    }

    &__popover {
        position: absolute;
        padding-inline: var(--br-unit-space-5);
        padding-block: var(--br-unit-space-6);
        margin: var(--br-unit-space-5);
        position-anchor: --toggle-tip-anchor;
        position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline;
        background-color: var(--br-comp-toggle-tip-pane-surface-background);
        border-radius: var(--br-comp-toggle-tip-pane-surface-border-radius);
        border-width: var(--br-comp-toggle-tip-pane-surface-border-width);
        border-style: var(--br-comp-toggle-tip-pane-surface-border-style);
        border-color: var(--br-comp-toggle-tip-pane-surface-border-colour);
        box-shadow: var(--br-comp-toggle-tip-pane-surface-box-shadow);
        overflow: hidden;
        max-width: max(var(--_toggle-tip-floor-width), var(--_toggle-tip-target-width));


        &[data-br-toggle-tip-position="top-left"] {
            margin-inline-start: calc(var(--br-comp-all-outline-offset) * -1);
            position-area: block-start span-inline-end;
        }

        &[data-br-toggle-tip-position="top-centre"] {
            position-area: block-start;
        }

        &[data-br-toggle-tip-position="top-right"] {
            margin-inline-end: calc(var(--br-comp-all-outline-offset) * -1);
            position-area: block-start span-inline-start;
        }

        &[data-br-toggle-tip-position="bottom-left"] {
            margin-inline-start: calc(var(--br-comp-all-outline-offset) * -1);
            position-area: block-end span-inline-end;
        }

        &[data-br-toggle-tip-position="bottom-centre"] {
            position-area: block-end;
        }

        &[data-br-toggle-tip-position="bottom-right"] {
            margin-inline-end: calc(var(--br-comp-all-outline-offset) * -1);
            position-area: block-end span-inline-start;
        }

        &[data-br-toggle-tip-position="centre-right"] {
            position-area: inline-end;
        }

        &[data-br-toggle-tip-position="centre-left"] {
            position-area: inline-start;
        }

        @media (max-width:$break-point-width) {
            min-width: calc(100vw - (var(--br-unit-space-5) * 2));
        }
    }

    &__content-area-wrapper {
        display: grid;
        grid-template-rows: 1fr auto;
        max-height: max(var(--_toggle-tip-floor-height), var(--_toggle-tip-target-height));
        max-width: max(var(--_toggle-tip-floor-width), var(--_toggle-tip-target-width));
        //border:1px solid black;

        @media (max-width:$break-point-width) {
            min-width: 100%;
        }
    }

    &__content-area {
        padding: var(--br-unit-space-3);
        grid-row: 1/2;
        overflow-y: auto;
        min-height: 100px;
        background-color: var(--br-comp-toggle-tip-area-content-background);
        color: var(--br-comp-toggle-tip-area-content-text);
        font-family: var(--br-comp-toggle-tip-area-content-font-family);
        font-size: var(--br-comp-toggle-tip-area-content-font-size);
        font-weight: var(--br-comp-toggle-tip-area-content-font-weight);
        border-width: var(--br-comp-toggle-tip-area-content-border-width);
        border-style: var(--br-comp-toggle-tip-area-content-border-style);
        border-color: var(--br-comp-toggle-tip-area-content-border-colour);
        border-radius: var(--br-comp-toggle-tip-area-content-border-radius);


        &:focus-visible {
            outline-style: var(--br-comp-toggle-tip-area-content-outline-style);
            outline-width: var(--br-comp-toggle-tip-area-content-outline-width);
            outline-offset: var(--br-comp-toggle-tip-area-content-outline-offset);
            outline-color: var(--br-comp-toggle-tip-area-content-outline-colour);
        }
    }

    &__footer {
        grid-row: 2/3;
        //margin-block: var(--br-unit-space-3);

        display: inline-flex;
        justify-content: end;
        width: 100%;


        @media (max-width:$break-point-width) {
            justify-content: center;
        }
    }

    & button.br-toggle-tip__closer { // done tike this due to overrides from frameworks like bootstrap
        all: revert;
        appearance: none;
        padding-block: var(--br-unit-space-2);
        padding-inline: var(--br-unit-space-4);
        background-color: var(--br-comp-toggle-tip-button-background);
        color: var( --br-comp-toggle-tip-button-text);
        border-radius: var(--br-comp-toggle-tip-button-border-radius);
        border-width: var(--br-comp-toggle-tip-button-border-width);
        border-style: var(--br-comp-toggle-tip-button-border-style);
        border-color: var(--br-comp-toggle-tip-button-border-colour);
        font-family: var(--br-comp-toggle-tip-button-font-family);
        font-size: var(--br-comp-toggle-tip-button-font-size);
        font-weight: var(--br-comp-toggle-tip-button-font-weight);
        line-height: var(--br-comp-toggle-tip-button-line-height);
        cursor: pointer;
        margin-top: var(--br-unit-space-5);
        margin-bottom: calc(var(--br-unit-space-1) * -3);
        min-width: calc((var(--br-unit-wcag-reflow-2a) / 3) + var(--br-unit-space-5));
        min-height: var(--br-unit-wcag-target-2a);
        white-space: normal;

        &:hover {
            background-color: var(--br-comp-toggle-tip-button-state-hover);
        }

        &:active {
            transform: scale(var(--br-comp-toggle-tip-button-state-active-scale));
            filter: brightness(var(--br-comp-toggle-tip-button-state-active-brightness));
            outline: none;
        }

        &:focus-visible {
            outline-style: var(--br-comp-toggle-tip-button-outline-style);
            outline-width: var(--br-comp-toggle-tip-button-outline-width);
            outline-offset: var(--br-comp-toggle-tip-button-outline-offset);
            outline-color: var(--br-comp-toggle-tip-button-outline-colour);
        }
    }
}