@use "_configuration" as *;
@use "_functions" as *;

.info-box {
    position: relative;
    padding: var(--br-unit-space-5);
    margin-bottom: var(--br-unit-space-5);
    border-radius: var(--br-unit-radius-5);
    border: 1px solid var(--br-unit-colour-neutral-30);
    //min-width: fit-content;
    overflow-x:auto;
    min-width:0;
    /*    & ul {
        list-style: none;
        margin-left: 1rem;
        padding: 1rem;

        & li {
            margin-bottom: var(--br-unit-space-5);
        }
    }

    & ol {
        margin-left: var(--br-unit-space-6);
    }
*/
    &__heading {
        color: var(--br-info-box-alternate-heading-text);

        @include media-device-sm(max-width) {
            text-align: center;
        }
    }

    &--coloured {
        background-color: var(--br-comp-all-pane-surface-background);
        border-width: 0;

        & > h1 {
            color: var(--br-comp-all-area-header-text); //make H1 blue in coloured section
        }
    }


    &--container-test {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--br-unit-space-9);
        cursor: pointer;


        & > span.checkboxtest {
            font-size: var(--br-unit-font-size-label);
            display: inline-flex;
            align-items: center;
            gap: var(--br-unit-space-3);

            & input[type="checkbox"] {
                min-height: 1.25rem;
                min-width: 1.25rem;
                accent-color: var(--br-unit-colour-accent-dark);
            }
        }
    }
}
.section-box {
    position: relative;
    padding: var(--br-unit-space-5);
    margin-bottom: var(--br-unit-space-5);
    border-radius: var(--br-unit-radius-5);
    border: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);
    //max-width: fit-content;

    & h2 {
        @include media-device-sm(max-width) {
            text-align: center;
        }
    }

    & h3 {
        color: var(--br-info-box-alternate-heading-text);
    }

    &:focus {
        outline-style: var(--br-comp-all-outline-style);
        outline-width: var(--br-comp-all-outline-width);
        outline-offset: var(--br-comp-all-outline-offset);
        outline-color: var(--br-comp-all-outline-colour);
    }
}
.code-span {
    padding: var(--br-unit-space-2);
    border-radius: var(--br-unit-radius-3);
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, monospace;
    background-color: var(--br-code-block-background-colour);
    overflow-x: auto;
    color: var(--br-code-block-text);
    border: 1px solid transparent;

    &--h3-sizing {
        font-size: var(--br-unit-font-size-1);
    }

    &--h2-sizing {
        font-size: var(--br-unit-font-size-2);
    }
}
