$device-sm-min-width: 576px;
$device-md-min-width: 768px;
$device-lg-min-width: 992px;
$device-xl-min-width: 1280px;
$device-xxl-min-width: 1536px;

$app-header-height: 5rem;
$app-nav-max-width: 16rem;
$app-nav-min-width: 4rem;
