
@use "_functions" as *;

.br-section {
   --_section-background: var(--br-unit-colour-canvas);
   --_section-text: var(--br-unit-colour-canvas-text);
   --_section-font-size: var(--br-unit-font-size-1);
   --_section-border-radius: var(--br-group-content-border-radius);

    position:relative;
    margin-block: var(--br-unit-space-5);
    padding: var(--br-unit-space-5);
    color: var(--_section-text);
    background-color: var(--_section-background);
    overflow-x: auto;
    width: auto;
    font-size:var(--_section-font-size);

    border-radius: var(--_section-border-radius);

    &--container {--_section-border-radius: var(--br-group-container-area-content-border-radius);}
    &--dialog    {--_section-border-radius: var(--br-group-dialog-pane-surface-border-radius);}
    &--content   {--_section-border-radius: var(--br-group-content-border-radius);}

    &--radius-none  {--_section-border-radius: var(--br-unit-radius-0);}
    &--radius-one   {--_section-border-radius: var(--br-unit-radius-1);}
    &--radius-two   {--_section-border-radius: var(--br-unit-radius-2);}
    &--radius-three {--_section-border-radius: var(--br-unit-radius-3);}
    &--radius-four  {--_section-border-radius: var(--br-unit-radius-4);}
    &--radius-five  {--_section-border-radius: var(--br-unit-radius-5);}
    &--radius-six   {--_section-border-radius: var(--br-unit-radius-6);}
    &--radius-seven {--_section-border-radius: var(--br-unit-radius-7);}
    &--radius-eight {--_section-border-radius: var(--br-unit-radius-8);}
    &--radius-nine  {--_section-border-radius: var(--br-unit-radius-9);}
    &--radius-full  {--_section-border-radius: var(--br-unit-radius-full);}


    &--code-font {font-family: var(--br-cls-code-font-family);}

    &--font-size-label {--_section-font-size:var(--br-unit-font-size-label);}
    &--font-size-one   {--_section-font-size:var(--br-unit-font-size-1);}
    &--font-size-two   {--_section-font-size:var(--br-unit-font-size-2);}
    &--font-size-three {--_section-font-size:var(--br-unit-font-size-3);}
    &--font-size-four  {--_section-font-size:var(--br-unit-font-size-4);}
    &--font-size-five  {--_section-font-size:var(--br-unit-font-size-5);}
    &--font-size-six   {--_section-font-size:var(--br-unit-font-size-6);}

    &--bordered {
        border-color: var(--br-comp-all-divider-colour);
        border-width: var(--br-unit-border-1);
        border-style: solid;
    }

    &--no-margin-block{margin-block:0;}
    &--no-padding {padding: 0;}

    &--neutral-lighter     {--_section-background: var(--br-cls-neutral-lighter); }
    &--secondary-lighter   {--_section-background: var(--br-cls-secondary-lighter); }
    &--accent-lighter      {--_section-background: var(--br-cls-accent-lighter); }
    &--primary-lighter     {--_section-background: var(--br-cls-primary-lighter); }
    &--neutral-text-dark   {--_section-text: var(--br-cls-neutral-text-dark); }
    &--secondary-text-dark {--_section-text: var(--br-cls-secondary-text-dark); }
    &--accent-text-dark    {--_section-text: var(--br-cls-accent-text-dark); }
    &--primary-text-dark   {--_section-text: var(--br-cls-primary-text-dark); }
    
    &--column-centred{
        display:flex;
        flex-direction:column;
        justify-content:start;
        align-items:center;
        gap:1rem;

        > * {
            margin-block: 0;
        }
    }

    &__heading{
       --_section-heading-text:var(--_section-text);
        --_section-heading-font-size: var(--br-unit-font-size-2);
        color:var(--_section-heading-text);
        font-size:var(--_section-heading-font-size);
        margin:0;

        &--mobile-centred{
            @include media-device-sm(max-width) {
                text-align: center;
            }
        }
        &--primary-text-dark  {--_section-heading-text:var(--br-cls-primary-heading-text-dark);}
        &--accent-text-dark   {--_section-heading-text:var(--br-cls-accent-heading-text-dark);}
        &--secondary-text-dark{--_section-heading-text:var(--br-cls-secondary-heading-text-dark);}
        &--neutral-text-dark  {--_section-heading-text:var(--br-cls-neutral-heading-text-dark);}

        &--font-size-label {--_section-heading-font-size:var(--br-unit-font-size-label);}
        &--font-size-one   {--_section-heading-font-size:var(--br-unit-font-size-1);}
        &--font-size-two   {--_section-heading-font-size:var(--br-unit-font-size-2);}
        &--font-size-three {--_section-heading-font-size:var(--br-unit-font-size-3);}
        &--font-size-four  {--_section-heading-font-size:var(--br-unit-font-size-4);}
        &--font-size-five  {--_section-heading-font-size:var(--br-unit-font-size-5);}
        &--font-size-six   {--_section-heading-font-size:var(--br-unit-font-size-6);}
    }



    &:focus {
        outline-style: var(--br-comp-all-outline-style);
        outline-width: var(--br-comp-all-outline-width);
        outline-offset: var(--br-comp-all-outline-offset);
        outline-color: var(--br-comp-all-outline-colour);
    }
}
