
@use "_functions" as *;

@include generate-space-classes("br-padding","padding", "--br-unit-space",15);
@include generate-space-classes("br-padding-inline","padding-inline", "--br-unit-space",15);
@include generate-space-classes("br-padding-inline-start","padding-inline-start", "--br-unit-space",15);
@include generate-space-classes("br-padding-inline-end","padding-inline-end", "--br-unit-space",15);
@include generate-space-classes("br-padding-block","padding-block", "--br-unit-space",15);
@include generate-space-classes("br-padding-block-end","padding-block-end", "--br-unit-space",15);
@include generate-space-classes("br-padding-block-start","padding-block-start", "--br-unit-space",15);

@include generate-space-classes("br-margin","margin", "--br-unit-space",15);
@include generate-space-classes("br-margin-inline","margin-inline", "--br-unit-space",15);
@include generate-space-classes("br-margin-inline-start","margin-inline-start", "--br-unit-space",15);
@include generate-space-classes("br-margin-inline-end","margin-inline-end", "--br-unit-space",15);
@include generate-space-classes("br-margin-block","margin-block", "--br-unit-space",15);
@include generate-space-classes("br-margin-block-end","margin-block-end", "--br-unit-space",15);
@include generate-space-classes("br-margin-block-start","margin-block-start", "--br-unit-space",15);

.br-margin-inline-auto { margin-inline: auto; }
.br-margin-block-auto  { margin-block: auto; }
.br-margin-auto        { margin: auto; }


.br-overflow-x-visible {overflow-x: visible;}
.br-overflow-x-hidden  {overflow-x: hidden;}
.br-overflow-x-scroll  {overflow-x: scroll;}
.br-overflow-x-auto    {overflow-x: auto;}
.br-overflow-x-clip    {overflow-x: clip;}

.br-overflow-y-visible {overflow-y: visible;}
.br-overflow-y-hidden  {overflow-y: hidden;}
.br-overflow-y-scroll  {overflow-y: scroll;}
.br-overflow-y-auto    {overflow-y: auto;}
.br-overflow-y-clip    {overflow-y: clip;}

.br-overflow-xy-visible {overflow: visible;}
.br-overflow-xy-hidden  {overflow: hidden;}
.br-overflow-xy-scroll  {overflow: scroll;}
.br-overflow-xy-auto    {overflow: auto;}
.br-overflow-xy-clip    {overflow: clip;}

.br-position-static   {position: static;}
.br-position-relative {position: relative;}
.br-position-absolute {position: absolute;}
.br-position-fixed    {position: fixed;}
.br-position-sticky   {position: sticky;}