.br-font-size-label { font-size: var(--br-unit-font-size-label); }
.br-font-size-one   { font-size: var(--br-unit-font-size-1); }
.br-font-size-two   { font-size: var(--br-unit-font-size-2); }
.br-font-size-three { font-size: var(--br-unit-font-size-3); }
.br-font-size-four  { font-size: var(--br-unit-font-size-4); }
.br-font-size-five  { font-size: var(--br-unit-font-size-5); }
.br-font-size-six   { font-size: var(--br-unit-font-size-6); }

.br-font-weight-100 { font-weight: var(--br-unit-font-weight-100); }
.br-font-weight-200 { font-weight: var(--br-unit-font-weight-200); }
.br-font-weight-300 { font-weight: var(--br-unit-font-weight-300); }
.br-font-weight-400 { font-weight: var(--br-unit-font-weight-400); }
.br-font-weight-500 { font-weight: var(--br-unit-font-weight-500); }
.br-font-weight-600 { font-weight: var(--br-unit-font-weight-600); }
.br-font-weight-700 { font-weight: var(--br-unit-font-weight-700); }