@use "_configuration" as *;
@use "_functions" as *;
:root {
    --svg-food-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3.743 2.816A.88.88 0 0 1 5.5 2.88v4.494a.625.625 0 1 0 1.25 0V2.75a.75.75 0 0 1 1.5 0v4.624a.625.625 0 1 0 1.25 0V2.88a.88.88 0 0 1 1.757-.064C11.3 3.428 11.5 6.37 11.5 8c0 1.35-.67 2.544-1.692 3.267c-.216.153-.268.315-.263.397c.123 1.878.455 7.018.455 7.833a2.5 2.5 0 0 1-5 0c0-.816.332-5.955.455-7.833c.005-.082-.047-.244-.263-.397A4 4 0 0 1 3.5 8c0-1.63.2-4.572.243-5.184M13 7.75A5.75 5.75 0 0 1 18.75 2a.75.75 0 0 1 .75.75v8.5c0 .318.106 1.895.225 3.642l.005.083c.13 1.908.27 3.983.27 4.522a2.5 2.5 0 0 1-5 0c0-.514.128-2.611.252-4.534c.062-.971.125-1.912.172-2.61l.023-.353h-.697A1.75 1.75 0 0 1 13 10.25z'/%3E%3C/svg%3E");
    --svg-airplane-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m9.983 20.048l-2.09-3.946l-3.966-2.11l1.083-1.077l3.452.587l3.05-3.05L4.01 7.25l1.388-1.38l9.125 1.565l3.12-3.139q.42-.421 1.03-.421t1.03.421q.422.421.422 1.028t-.421 1.028l-3.145 3.125l1.566 9.12l-1.394 1.394l-3.189-7.502l-3.05 3.05l.573 3.427z'/%3E%3C/svg%3E");
    --svg-runner-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='%23000'%3E%3Cpath d='M30.5 13a4.5 4.5 0 1 0 0-9a4.5 4.5 0 0 0 0 9m-9.04 4.282c-1.247.31-2.098.776-2.785 1.354c-1.03.868-1.862 2.12-2.986 4.088a2 2 0 1 1-3.473-1.985c1.119-1.957 2.25-3.788 3.883-5.162c1.704-1.436 3.79-2.248 6.603-2.561c1.176-.13 2.47-.104 3.683.437c1.273.569 2.203 1.588 2.837 2.95c.854 1.833 1.489 2.924 1.997 3.557c.245.303.416.444.513.507c.077.05.11.054.122.056h.001c.087.01.369 0 1.197-.367c.361-.16.755-.352 1.237-.587l.115-.056a54 54 0 0 1 1.784-.84a2 2 0 0 1 1.625 3.655a49 49 0 0 0-1.653.779l-.131.064c-.461.225-.925.452-1.36.644c-.9.398-2.05.83-3.297.679c-1.316-.16-2.33-.903-3.165-1.9l-2.733 5.273l3.78 4.918a2 2 0 0 1 .403 1.012l.832 7.996a2 2 0 1 1-3.978.414l-.774-7.433l-2.296-2.988l-.02.037l-.084-.172l-4.242-5.52a2 2 0 0 1-.282-1.934z'/%3E%3Cpath d='m18.432 29.007l-1.472 3.96l-5.8-.46a2 2 0 1 0-.318 3.987l7.308.58a2 2 0 0 0 2.033-1.296l1.125-3.028z'/%3E%3C/g%3E%3C/svg%3E");

    --br-unit-colour-primary: darkslateblue;
    --br-info-box-alternate-heading-text: var(--br-unit-colour-accent-darker);
    --br-kbd-background-colour: var(--br-unit-colour-info-lighter);
    --br-code-block-background-colour: var(--br-unit-colour-secondary-lighter);
    --br-code-block-text: var(--br-unit-colour-info-darker);
    --br-code-table-heading-text: var(--br-info-box-alternate-heading-text);
}

    :root:has(#theme-toggler[aria-checked="true"]) {
        --br-comp-switch-thumb-Hover-colour: var(--br-unit-colour-primary-20);
        --br-comp-switch-thumb-text: var(--br-unit-colour-primary-30);
        --br-comp-all-thumb-colour: var(--br-unit-colour-neutral-80);
        --br-comp-switch-on-track-colour: var(--br-unit-colour-primary-30);
        --br-comp-all-track-colour: var(--br-unit-colour-neutral-70);
        --br-comp-history-trigger-pane-surface-background: var(--br-unit-colour-neutral-5);
        --br-comp-history-trigger-pane-surface-text: var(--br-unit-colour-neutral-90);
        --br-comp-all-pane-base-background: var(--br-unit-colour-neutral-80);
        --br-comp-all-focus-indicator-colour: var(--br-unit-colour-primary-30);
        --br-comp-all-pane-surface-background: var(--br-unit-colour-neutral-70);
        --br-comp-all-area-header-background: var(--br-unit-colour-neutral-70);
        --br-comp-all-area-header-text: var(--br-unit-colour-primary-text-light);
        --br-comp-all-area-content-text: var(--br-unit-colour-neutral-5);
        --br-unit-colour-canvas: var(--br-unit-colour-neutral-90);
        --br-unit-colour-canvas-text: var(--br-unit-colour-neutral-5);
        --br-comp-all-button-text: var(--br-unit-colour-primary-text-light);
        --br-comp-all-button-state-hover: hsl(from var(--br-unit-colour-primary) h s l / var(--br-unit-opacity-val-30));
        --br-comp-all-link-current-page-background-colour: var(--br-unit-colour-secondary-darker);
        --br-comp-all-link-hover-background-colour: hsl(from var(--br-unit-colour-secondary) h s l / 0.15);
        --br-comp-all-link-active-background-colour: hsl(from var(--br-unit-colour-secondary) h s l / 0.3);
        --br-comp-all-link-focused-background-colour: var(--br-unit-colour-secondary-darker);
        --br-info-box-alternate-heading-text: var(--br-unit-colour-accent-light);
        --br-kbd-background-colour: var(--br-unit-colour-info-darker);
        --br-unit-colour-canvas-inverted: var(--br-unit-colour-neutral-5);
        --br-unit-colour-canvas-text-inverted: var(--br-unit-colour-neutral-90);
        --br-comp-all-button-background: var(--br-unit-colour-primary-70);
        --br-comp-all-button-text: var(--br-unit-colour-primary-text-light);
        --br-comp-all-button-border-colour: var(--br-unit-colour-primary-30);
        --br-code-block-background-colour: var(--br-unit-colour-secondary-darker);
        --br-code-block-text: var(--br-unit-colour-info-lighter);
    }
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    font: inherit;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-weight:var(--fw-500);
}
/*
    * Use anthing already defined in the Core project that was used for components.
*/


ul{
   margin-left:var(--br-unit-space-7); 
   padding:0;
}
li {
    margin-bottom: var(--br-unit-space-3);
}

ol > li {
    margin-left: 1rem;
    list-style:decimal;
 }

li ul li {
    list-style-type: disc;
}
html {
   /*
       * Sill cannot find the issue causing the jump (header height + margin) on this site when the css is the same as the working site?
       * Fix until I find the issue
   */
    scroll-padding-top: calc(5rem + var(--br-unit-space-5));
}

p {
    margin-block: var(--br-unit-space-5);
    text-wrap: pretty;
}

h1 {
    font-size: var(--br-unit-font-size-4);
    font-weight: var(--br-unit-font-weight-500);
    margin-bottom: var(--br-unit-space-5);
    color: var(--br-comp-all-area-header-text);
   
}

h2 {
    font-size: var(--br-unit-font-size-3);
    font-weight: var(--br-unit-font-weight-500);
    margin-bottom: var(--br-unit-space-4);
    color: var(--br-comp-all-area-header-text);
}
h3 {
    font-size: var(--br-unit-font-size-2);
    font-weight: var(--br-unit-font-weight-500);
    margin-bottom: var(--br-unit-space-4); 
    
}

.page-heading {
    @include media-device-sm(max-width) {
        text-align: center;
    }
}
b {
    font-weight:bold;
}

kbd {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, monospace;
    border-radius: var(--br-unit-radius-4);
    background-color: var(--br-kbd-background-colour);
    padding-inline: var(--br-unit-space-3);
    padding-block: var(--br-unit-space-2);
    border: 1px solid transparent;
}

dialog {
    background-color: var(--br-unit-colour-canvas);
    color: var(--br-unit-colour-canvas-text);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--br-unit-colour-canvas);
    color: var(--br-unit-colour-canvas-text);
    letter-spacing: 0.5px;

    & #app__main {
        background-color: var(--br-unit-colour-canvas); //CHECK
    }
}


.centre-text{
    text-align:center;
}
