@use "_configuration" as *;
@use "_functions" as *;

.code-table {
    overflow-x: auto;

    &__heading {
        margin-block: var(--br-unit-space-5);

        @include media-device-sm(max-width) {
            text-align: center;
        }
    }

    & table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: var(--br-comp-data-table-area-header-border-radius);
        border: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);
        background-color: var(--br-comp-all-area-content-background);
        margin-bottom: var(--br-unit-space-9);
    }

    & th {
        text-align: left;
        border-left: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);

        &:first-child {
            border-top-left-radius: var(--br-comp-data-table-area-header-border-radius);
            border-left: 0;
        }

        &:last-child {
            border-top-right-radius: var(--br-comp-data-table-area-header-border-radius);
        }

        color: var(--br-comp-all-area-header-text);
        background-color: var(--br-comp-data-table-area-header-background); //var(--br-comp-history-area-header-background);

        padding: var(--br-unit-space-3);
        font-size: var(--br-unit-font-label);
        font-weight: var(--br-unit-font-weight-500);
    }

    & td {
        font-size: var(--br-unit-font-size-label);
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, monospace;
        color: var(--br-cls-accent-text);
        border-top: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);
        width: 33%;
        border-left: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);

        &:first-child {
            border-left: none;
        }

        &:nth-child(2) {
            font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, monospace;
            color: var(--br-cls-accent-text);
        }

        &:last-child {
            font-family: var(--br-unit-font-family-default);
            color: inherit;
        }

        &[colspan] {
            font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, monospace;
        }

        padding: var(--br-unit-space-3);
    }

    & caption {
        text-align: start;
        margin-block-end: var(--br-unit-space-5);
    }

    &--two-col-descriptive {

        & td {
            border-left: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-inline: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);
                font-family: var(--br-unit-font-family-default);
                color: inherit;
            }
        }
    }
}

.data-table {
    overflow-x: auto;

    & table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: var(--br-comp-data-table-area-header-border-radius);
        border: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);
        background-color: var(--br-comp-all-area-content-background);
        margin-bottom: var(--br-unit-space-9);
    }

    & caption {
        text-align: start;
        font-size: var(--br-unit-font-size-2);
        margin-bottom: var(--br-unit-space-3);
    }

    & th {
        text-align: left;
        border-left: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);

        &:first-child {
            border-top-left-radius: var(--br-comp-data-table-area-header-border-radius); //var(--br-unit-radius-3);
            border-left: 0;
        }

        &:last-child {
            border-top-right-radius: var(--br-comp-data-table-area-header-border-radius); //var(--br-unit-radius-3);
        }

        background-color: var(--br-comp-history-area-header-background); //var(--br-unit-colour-neutral-30);

        padding: var(--br-unit-space-3);
        font-size: var(--br-unit-font-label);
        font-weight: var(--br-unit-font-weight-500);
    }

    & td {
        font-size: var(--br-unit-font-size-label);
        color: var(--br-cls-accent-text);
        border-top: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);
        padding: var(--br-unit-space-3);
        border-left: var(--br-unit-border-1) solid var(--br-unit-colour-neutral-30);

        &:first-child {
            border-left: none;
        }
    }
}