@use "_configuration" as *;
@use "_functions" as *;


.theme-colour-tool {
    position: relative;
    padding: var(--br-unit-space-5);
    margin-bottom: var(--br-unit-space-5);
    border-radius: var(--br-group-container-area-content-border-radius);
    border: var(--br-unit-border-1) solid var(--br-comp-all-divider-colour);

    &__title {
        //color: var(--br-comp-all-area-header-text);
        color: var(--br-cls-secondary-heading-text);

        @include media-device-sm(max-width) {
            text-align: center;
        }
    }


    &__content {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: var(--br-unit-space-5);
    }

    &__controls {
        width: fit-content;
        display: flex;
        flex-direction: column;
   
        min-height: 70px;
        max-height:fit-content;
    }

    &__label {
        font-size: var(--br-unit-font-size-label);
        font-size: var(--br-unit-font-size-label);
        font-weight: var(--br-unit-font-weight-500);
        color: inherit;
        background: transparent;
        margin-bottom: var(--br-unit-space-3);
    }

    &__swatch {
        background-color: Hsl(220,44%,48%);
        color: white;
        forced-color-adjust: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--br-unit-font-size-1);
        padding: var(--br-unit-space-3);
        border-radius: var(--br-unit-radius-2);
    }


    & input {
        border-radius: var(--br-group-input-pane-base-border-radius);
        border: none;
        height: 50px;

        &:focus {
            outline-style: var(--br-comp-all-outline-style);
            outline-width: var(--br-comp-all-outline-width);
            outline-offset: var(--br-comp-all-outline-offset);
            outline-color: var(--br-comp-all-outline-colour);
        }
    }

        & input[type="color"] {
            width: 100%;
           
            cursor: pointer;
        }

        & input[type=range] {
            border: none;
            accent-color: var(--br-unit-colour-primary);
        }

    &__output {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--br-unit-font-size-1);
    }

    &__button {
        border-radius: var(--br-group-button-border-radius); //var(--br-unit-radius-1);
        align-self: end;
        margin: 0;
        margin-top: auto;
        height: 42px;
    }

    &:focus {
        outline-style: var(--br-comp-all-outline-style);
        outline-width: var(--br-comp-all-outline-width);
        outline-offset: var(--br-comp-all-outline-offset);
        outline-color: var(--br-comp-all-outline-colour);
    }
}



.theme-border-tool {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--br-unit-space-5);
    margin-bottom: var(--br-unit-space-5);
    border-radius: var(--br-group-container-area-content-border-radius);
    border: var(--br-unit-border-1) solid var(--br-comp-all-divider-colour);
    overflow-x: auto;
    display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(225px,1fr));
    grid-template-columns: repeat(auto-fit, minmax(calc(200px + (var(--br-unit-space-4) * 2) + (var(--br-unit-border-1) * 2)), 1fr));

    &__title {
        color: var(--br-cls-secondary-heading-text);
        grid-column: 1/-1;
        margin: 0;

        @include media-device-sm(max-width) {
            text-align: center;
        }
    }

    &__border-group {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        border: var(--br-unit-border-1) solid var(--br-comp-all-divider-colour);
        border-radius: var(--br-group-container-area-content-border-radius);
        padding: var(--br-unit-space-4);
    }

    &__group-info{

    }

    &__control-group {
        display: flex;
        flex-direction: column;
        min-width: 0;
        gap: var(--br-unit-space-4);
    }



    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,400px));
        min-width: 0;
        gap: var(--br-unit-space-5) 0;
    }

    & input[type=range] {
        border-radius: var(--br-group-input-pane-base-border-radius);
        accent-color: var(--br-unit-colour-primary);

        &:focus {
            outline-style: var(--br-comp-all-outline-style);
            outline-width: var(--br-comp-all-outline-width);
            outline-offset: var(--br-comp-all-outline-offset);
            outline-color: var(--br-comp-all-outline-colour);
        }
    }

    &__tool-buttons {
        grid-column: 1/-1;
    }

    &__label {
        font-size: var(--br-unit-font-size-label);
        font-size: var(--br-unit-font-size-label);
        font-weight: var(--br-unit-font-weight-500);
        color: inherit;
        background: transparent;
    }

    &:focus {
        outline-style: var(--br-comp-all-outline-style);
        outline-width: var(--br-comp-all-outline-width);
        outline-offset: var(--br-comp-all-outline-offset);
        outline-color: var(--br-comp-all-outline-colour);
    }
}