@use "_functions" as *;

.br-checkbox-input {
    --_icon-size: 1em;
    --_br-svg-input-icon: none;
    width: 100%;
    display: inline-grid;
    grid-template-rows: auto auto auto minmax(var(--br-unit-space-5), auto);
    grid-template-columns: min-content 1fr 1.5rem;
    //I prefer just numbers/lines but needed this for RTL

    grid-template-areas:
        "label      label   label" "hint       hint    hint" "icon       field   state" "errors     errors  errors";
    padding: var(--br-unit-space-3);
    background-color: var(--br-comp-input-pane-base-background);
    border-style: var(--br-comp-input-pane-base-border-style);
    border-color: var(--br-comp-input-pane-base-border-colour);
    border-width: var(--br-comp-input-pane-base-border-width);
    border-radius: var(--br-comp-input-pane-base-border-radius);

    .br-input-row & {
        grid-row: span 4;
        grid-template-rows: subgrid;
    }

    &:focus-within {
        outline-offset: var(--br-comp-input-outline-offset);
        outline-width: var(--br-comp-input-outline-width);
        outline-style: var(--br-comp-input-outline-style);
        outline-color: var(--br-comp-input-outline-colour);

        .br-checkbox-input__error-wrapper {
            border-top: 1px solid var(--br-comp-all-outline-colour);
        }
    }

    &:has(input[aria-disabled="true"]) {
        cursor: not-allowed;

        .br-checkbox-input__field,
        .br-checkbox-input__label,
        .br-checkbox-input__hint,
        .br-checkbox-input__icon,
        .br-checkbox-input__state-icon {
            cursor: not-allowed;
            opacity: var(--br-comp-input-disabled-opacity);
        }
    }


    ul {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        list-style-position: inside;
    }


    &__label {
        grid-area: label;
        font-size: var(--br-comp-input-label-font-size);
        font-weight: var(--br-comp-input-label-font-weight);
        color: var(--br-comp-input-label-color);
        background-color: var(--br-comp-input-label-background);
    }

    &__hint {
        grid-area: hint;
        font-size: var(--br-comp-input-hint-font-size);
        font-weight: var(--br-comp-input-hint-font-weight);
        color: var(--br-comp-input-hint-color);
        background-color: var(--br-comp-input-hint-background);
        opacity: var(--br-comp-input-hint-opacity);
        padding-block-end: var(--br-unit-space-3);
    }

    &__icon {
        grid-area: icon;
        align-self: center;
        display: inline-block;
        background-color: currentColor;
        mask-image: var(--_br-svg-input-icon);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        min-height: calc(var(--_icon-size) * 1.25);
        aspect-ratio: 1/1;
        margin-inline-end: var(--br-unit-space-2);
        margin-block-end: 3px;

        @media (forced-colors: active) {
            background-color: CanvasText;
        }
    }

    &__state-icon {
        grid-area: state;
        min-height: var(--_icon-size);
        aspect-ratio: 1/1;

        &[data-br-invalid-state="true"] {
            @include invalid-state-icon;
            color: var(--br-comp-input-error-colour);
        }

        &[data-br-invalid-state="false"] {

            @include valid-state-icon;
            color: var(--br-comp-input-success-colour);
        }
    }

    &__field {
        grid-area: field;
        min-width: 0;
        background-color: var(--br-comp-input-area-content-background);
        color: var(--br-comp-input-area-content-colour);
        font-family: var(--br-comp-input-area-content-font-family);
        font-size: var(--br-comp-input-area-content-font-size);
        font-weight: var(--br-comp-input-area-content-font-weight);
        justify-self: start;
        align-self: center;
        accent-color: var(--br-unit-colour-primary);
        cursor: pointer;
        margin-block-end: var(--br-unit-space-2);
        border-radius: 5px;
        min-height: var(--br-unit-wcag-target-2a);
        aspect-ratio:1/1;

        &:focus,
        &:focus-visible {
            outline-offset: 2px; //var(--br-comp-input-outline-offset);
            outline-width: var(--br-comp-input-outline-width);
            outline-style: var(--br-comp-input-outline-style);
            outline-color: var(--br-comp-input-outline-colour);
        }
    }

    &__error-wrapper {
        grid-area: errors;
        border-top: var(--br-unit-border-1) solid var(--br-comp-all-divider-colour);
        color: var(--br-comp-input-error-colour);
        min-height: var(--br-unit-space-5);

        &:has(.br-checkbox-input__error:focus-visible) {
            border-top: var(--br-unit-border-1) solid transparent;
            border-radius: var(--br-comp-input-pane-base-border-radius);
        }
    }

    &__error {
        padding-block-start: var(--br-unit-space-3);

        &:focus-visible {
            border-radius: var(--br-comp-input-pane-base-border-radius);
            outline-offset: var(--br-comp-input-outline-offset);
            outline-width: var(--br-comp-input-outline-width);
            outline-style: var(--br-comp-input-outline-style);
            outline-color: var(--br-comp-input-error-colour);
        }
    }

    &__asterisk {
        color: var(--br-comp-input-error-colour);
        font-size: var(--br-comp-input-label-font-size);
        font-weight: var(--br-comp-input-label-font-weight);
        background-color: var(--br-comp-input-label-background);
    }

    & > input[data-br-input-position="start"] {
        justify-self: start;
    }

    & > input[data-br-input-position="centre"] {
        justify-self: center;
    }

    & > input[data-br-input-position="end"] {
        justify-self: end;
    }

    &__icon {
        .br-input-row & {
            align-self: end;
            margin-block-end: var(--br-unit-space-2);
        }
    }

    &__state-icon,
    &__field {
        .br-input-row & {
            align-self: end;
        }
    }
}
