.br-radio-input {
    display: inline-flex;
    flex-direction: row;
    gap: var(--br-unit-space-3);
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-block: 2px;
    margin-bottom: calc(var(--br-unit-space-1) * -1);

    &__label {
        grid-area: label;
        font-size: var(--br-comp-input-label-font-size);
        font-weight: inherit;
        color: var(--br-comp-input-label-color);
        background-color: var(--br-comp-input-label-background);
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1; /* 2. The invisible bridge */
        }
    }

    &__field {
        accent-color: var(--br-unit-colour-primary);
        cursor: pointer;
        z-index: 1;
        padding: 0;

        &:focus {
            border: none;
            outline: none;
        }
    }

    &:has(input:focus-visible) {
        border-radius: 2px;
        outline-offset: 2px; //var(--br-comp-input-outline-offset);
        outline-width: var(--br-comp-input-outline-width);
        outline-style: var(--br-comp-input-outline-style);
        outline-color: var(--br-comp-input-outline-colour);
    }

    &:has(input[data-br-focused]) {
        border-radius: 2px;
        outline-offset: 2px; //var(--br-comp-input-outline-offset);
        outline-width: var(--br-comp-input-outline-width);
        outline-style: var(--br-comp-input-outline-style);
        outline-color: var(--br-comp-input-outline-colour);
    }
}
