//If this is in a project with bootstrap,
//bootstrap is totally annoying with its resets so this is the safest option
@use "_root-switch";

@mixin power-on-icon {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--br-svg-power-on-icon);
    mask-repeat: no-repeat;
    mask-size: 75% 75%;
    mask-position: center;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}

@mixin power-off-icon {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--br-svg-power-off-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}

.br-switch {
    box-sizing: border-box;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    pointer-events: none;
    font: inherit;
    background-color: transparent;
    color: inherit;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;



    &--space {
        justify-content: space-between;
    }

    gap: var(--br-unit-space-4);

    &:focus-visible &__track {
        outline-style: var(--br-comp-switch-outline-style);
        outline-width: var(--br-comp-switch-outline-width);
        outline-offset: var(--br-comp-switch-outline-offset);
        outline-color: var(--br-comp-switch-outline-colour);
    }

    &:has(:focus-visible) {
        outline-style: var(--br-comp-switch-outline-style);
        outline-width: var(--br-comp-switch-outline-width);
        outline-offset: var(--br-comp-switch-outline-offset);
        outline-color: var(--br-comp-switch-outline-colour);
    }

    &__label {
        background-color: var(--br-comp-switch-area-content-background);
        color: var(--br-comp-switch-area-content-text);
        font-size: var(--br-comp-switch-area-content-font-family);
        font-size: var(--br-comp-switch-area-content-font-size);
        font-weight: var(--br-comp-switch-area-content-font-weight);
        line-height: var(--br-comp-switch-area-content-line-height);
    }

    &__track {
        display: inline-flex;
        position: relative;
        min-width: 44px;
        min-height: var(--br-unit-wcag-target-2a);
        width: calc(var(--br-comp-switch-track-height) * 1.75);
        height: var(--br-comp-switch-track-height);
        border-width: var(--br-comp-switch-track-border-width);
        border-style: var(--br-comp-switch-track-border-style);
        border-color: var(--br-comp-switch-track-border-colour);
        border-radius: var(--br-comp-switch-track-border-radius);
        background-color: var(--br-comp-switch-track-colour);
    }

    &__thumb {
        position: absolute;
        width: calc(var(--br-comp-switch-track-height) * 0.85);
        aspect-ratio: 1/1;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-start: 0.2em;
        background-color: var(--br-comp-switch-thumb-colour);
        color: var(--br-comp-switch-thumb-text);


        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
            @include power-off-icon;
        }
    }

    &[aria-disabled="false"]:not(:disabled) {
        .br-switch__label,
        .br-switch__track {
            cursor: pointer;
            pointer-events: all;
        }

            .br-switch__label:hover ~ .br-switch__track .br-switch__thumb,
            .br-switch__track:hover .br-switch__thumb {
                transform: translateY(-50%) scale(1.1);
                box-shadow: var(--br-comp-switch-thumb-hover-shadow);
            }
    }

    &[aria-checked="true"] {
        .br-switch__track {
            background-color: var(--br-comp-switch-on-track-colour);
            border-color: transparent; //wcag needs contrast so removed/transparent for high contrast forced.
        }

        .br-switch__thumb {
            inset-inline-start: auto;
            inset-inline-end: 0.2em;
            background-color: var(--br-comp-switch-track-colour);

            &::after {
                @include power-on-icon;
            }
        }
    }

    &[aria-disabled="true"], &:disabled {
        .br-switch__label,
        .br-switch__track {
            cursor: not-allowed;
            pointer-events: all;
        }

        .br-switch__label {
            opacity: var(--br-comp-switch-disabled-opacity);
        }

        .br-switch__thumb {
            pointer-events: none;
            opacity: var(--br-comp-switch-disabled-opacity);
        }
    }
}
