@use "_root-tooltip";

.br-tooltip {
    display: inline-block;
    anchor-scope: --tooltip-anchor;
    anchor-name: --tooltip-anchor;
    background-color: transparent;
    justify-self: start;
    align-self: start;

    &__content-wrapper {
        background-color: transparent;
        position: relative;
        padding: var(--br-unit-space-3);
        position-anchor: --tooltip-anchor;
        border: none;
        position-try-order: most-space;
  
        //Still to buggy on macOS/safari 26 to include
        /*        opacity: 0;
        transition: opacity 300ms ease, display 300ms allow-discrete, overlay 300ms allow-discrete;

        &:popover-open {
            opacity: 1;

            @starting-style {
                opacity: 0;
            }
        }
*/

        &[data-br-tooltip-position="top-centre"] {
            position-area: block-start;
            position-try-fallbacks: flip-block;
        }

        &[data-br-tooltip-position="top-left"] {
            position-area: block-start span-inline-end;
            position-try-fallbacks: flip-block, flip-inline;
            padding-inline-start: var(--br-unit-space-1);
        }

        &[data-br-tooltip-position="top-right"] {
            position-area: block-start span-inline-start;
            position-try-fallbacks: flip-block, flip-inline;
            padding-inline-end: var(--br-unit-space-1);
        }

        &[data-br-tooltip-position="bottom-left"] {
            position-area: block-end span-inline-end;
            position-try-fallbacks: flip-block, flip-inline;
            padding-inline-start: var(--br-unit-space-1);
        }

        &[data-br-tooltip-position="bottom-centre"] {
            position-area: block-end;
            position-try-fallbacks: flip-block;
        }

        &[data-br-tooltip-position="bottom-right"] {
            position-area: block-end span-inline-start;
            position-try-fallbacks: flip-block, flip-inline;
            padding-inline-end: var(--br-unit-space-1);
        }

        &[data-br-tooltip-position="centre-left"] {
            position-area: inline-start;
            position-try-fallbacks: flip-inline;
        }

        &[data-br-tooltip-position="centre-right"] {
            position-area: inline-end;
            position-try-fallbacks: flip-inline;
        }
    }

    &__content-area {
        --_tooltip-text: var(--br-comp-tooltip-area-content-text);
        --_tooltip-background: var(--br-comp-tooltip-area-content-background);
        padding: var(--br-unit-space-4);
        background-color: var(--_tooltip-background);
        color: var(--_tooltip-text);
        font-family: var(--br-comp-tooltip-area-content-font-family);
        font-size: var(--br-comp-tooltip-area-content-font-size);
        font-weight: var(--br-comp-tooltip-area-content-font-weight);
        line-height: var(--br-comp-tooltip-area-content-line-height);
        border-style: var(--br-comp-tooltip-area-content-border-style);
        border-color: var(--br-comp-tooltip-area-content-border-colour);
        border-width: var(--br-comp-tooltip-area-content-border-width);
        border-radius: var(--br-comp-tooltip-area-content-border-radius);
        box-shadow: var(--br-unit-box-shadow-1);
        min-width: 10ch;
        max-width: 50ch;

        &--inverted-colours {
            --_tooltip-background: var(--br-comp-tooltip-area-content-text);
            --_tooltip-text: var(--br-comp-tooltip-area-content-background);
        }
    }

    &__content {
        white-space: pre-line;
    }

    &__closer {
        display: flex;
        margin-block-start: -2px;
        border-radius: var(--br-unit-radius-3);
        aspect-ratio: 1/1;
        height: var(--br-unit-wcag-target-2a);
        cursor: pointer;
        align-self: start;
        float: inline-end;
        margin-inline-start: var(--br-unit-space-3);

        &:hover {
            background-color: var(--_tooltip-text);
            color: var(--_tooltip-background);
        }
    }

    &__icon {
        padding: 0;
        margin: 0;
        display: inline-block;
        background-color: currentColor;
        mask-image: var(--br-svg-close-square-icon);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        aspect-ratio: 1/1;
        height: var(--br-unit-wcag-target-2a);

        @media (forced-colors: active) {
            background-color: CanvasText;
            color: Canvas;
        }
    }
}
