:root {
    --br-comp-tabs-outline-style: var(--br-comp-all-outline-style);
    --br-comp-tabs-outline-width: var(--br-comp-all-outline-width);
    --br-comp-tabs-outline-offset: 0px;
    --br-comp-tabs-outline-colour: var(--br-comp-all-outline-colour);
    --br-comp-tabs-selected-hover: var(--br-comp-all-selection-colour);
    --br-comp-tabs-hover: var(--br-comp-all-link-hover-background-colour);
    --br-tabs-icon-size: 1.5em;
    //
    --br-comp-tabs-area-header-background: inherit;
    --br-comp-tabs-area-header-text: var(--br-comp-all-area-header-text);
    --br-comp-tabs-area-header-font-family: var(--br-comp-all-area-header-font-family);
    --br-comp-tabs-area-header-font-size: var(--br-unit-font-size-label);
    --br-comp-tabs-area-header-font-weight: var(--br-comp-all-area-header-font-weight);
    --br-comp-tabs-area-header-line-height: var(--br-comp-all-area-header-line-height);
    --br-comp-tabs-area-header-border-style: var(--br-comp-all-area-header-border-style);
    --br-comp-tabs-area-header-border-colour: var(--br-comp-all-divider-colour);
    --br-comp-tabs-area-header-border-width: var(--br-unit-border-1);
    --br-comp-tabs-area-header-border-radius: var(--br-group-container-area-header-border-radius);
    //
    --br-comp-tabs-area-content-background: transparent;
    --br-comp-tabs-area-content-text: var(--br-comp-all-area-content-text);
    --br-comp-tabs-area-content-font-family: var(--br-comp-all-area-content-font-family);
    --br-comp-tabs-area-content-font-size: var(--br-comp-all-area-content-font-size);
    --br-comp-tabs-area-content-font-weight: var(--br-comp-all-area-content-font-weight);
    --br-comp-tabs-area-content-line-height: var(--br-comp-all-area-content-line-height);
    --br-comp-tabs-area-content-border-radius: var(--br-group-container-area-content-border-radius);
}
