@use "_root-tabs";

.br-tabs {
    box-sizing: border-box;
    width: 100%;
    border:1px solid grey;

    &__tab-list {
        display: flex;
        justify-content: start;
        align-items: center;
        border-bottom: 1px solid var(--br-comp-all-divider-colour);
        width: 100%;
    }

    & button.br-tabs__tab {
        appearance: none;
        position: relative;
        min-height: var(--br-unit-wcag-target-2a);
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        flex-grow: 1;

        &:focus-visible {
            border-radius: var(--br-unit-radius-2);
            outline-offset: 0px;
            outline-style: solid;
            outline-width: 2px;
            outline-color: var(--br-comp-all-focus-indicator-colour);
        }

        &[aria-selected="true"]:focus-visible {
            border: none;
            outline: none;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                bottom: calc(var(--br-unit-space-3) + 1px);
                outline-offset: 0px;
                outline-style: solid;
                outline-width: 2px;
                outline-color: var(--br-comp-all-focus-indicator-colour);
                border-radius: var(--br-unit-radius-2);
            }
        }

        &[aria-selected="true"] > .br-tabs__tab-title::before {
            position: absolute;
            content: "";
            top: calc(100% - var(--br-unit-space-3) + 4px);
            border-top: 4px solid green;
            border-top-left-radius: var(--br-unit-radius-2);
            border-top-right-radius: var(--br-unit-radius-2);
            left: 0;
            right: 0;
        }

        &:hover {
            background-color: var(--br-comp-all-button-state-hover);
        }
    }

    &__tab-title {
        display: inline-block;
        position: relative;
        padding-block: var(--br-unit-space-3);
    }

    &__tab-panel {
        display: none;
        padding: 1rem;

        &--active {
            display: block;
        }
    }
}
