@use "_root-actions-popover";

@mixin chevron-down-icon {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--svg-chevron-down-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}


@mixin icon {
    display: inline-block;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}

.br-actions-popover {
    display: inline-block;
    width: fit-content;
    anchor-scope: --popover-anchor;
    box-sizing: border-box;
    color: inherit;
    --_br-svg-popover-trigger-icon: none;
    --_br-svg-popover-action-icon: none;
    --_icon-size: 1em;

    &--stretch {
        display: block;
        width: 100%;
    }

    button.br-actions-popover__trigger {
        position: relative;
        anchor-name: --popover-anchor;
        appearance: none;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--br-unit-space-3);
        padding: var(--br-unit-space-3);
        background-color: var(--br-comp-actions-popover-trigger-background);
        border-style: var(--br-comp-actions-popover-trigger-border-style);
        border-color: var(--br-comp-actions-popover-trigger-border-colour);
        border-width: var(--br-comp-actions-popover-trigger-border-width);
        border-radius: var(--br-comp-actions-popover-trigger-border-radius);
        color: inherit;
        font-family: var(--br-comp-actions-popover-trigger-font-family);
        font-size: var(--br-comp-actions-popover-trigger-font-size);
        font-weight: var(--br-comp-actions-popover-trigger-font-weight);
        line-height: var(--br-comp-actions-popover-trigger-line-height);
        padding-block: var(--br-unit-space-3);
        padding-inline: var(--br-unit-space-4);
        cursor: pointer;
        width: 100%;

        &:hover {
            background-color: var(--br-comp-actions-popover-item-state-hover);
        }

        &:active {
            filter: brightness(var(--br-comp-actions-popover-trigger-state-active-brightness));
            background-color: var(--br-comp-actions-popover-trigger-background);
            outline: none;
        }

        &:focus-visible {
            color: var(--br-comp-actions-popover-trigger-text);
            outline-style: var(--br-comp-actions-popover-trigger-outline-style);
            outline-width: var(--br-comp-actions-popover-trigger-outline-width);
            outline-offset: var(--br-comp-actions-popover-trigger-outline-offset);
            outline-color: var(--br-comp-actions-popover-trigger-outline-colour);
        }

            &:focus-visible .br-actions-popover__trigger-expander-icon, &:hover .br-actions-popover__trigger-expander-icon {
                border-width: 1px;
                border-color: currentColor;
                border-style: var(--br-comp-actions-popover-state-circle-border-style);
            }
    }

    &__trigger-expander-icon {
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: transform 200ms ease;
        border-width:1px;
        border-style:solid;
        border-color:transparent;

        & > span {
            height: calc(var(--_icon-size) * 1.25);
            aspect-ratio: 1/1;
            @include chevron-down-icon;
        }
    }

    &:has(:popover-open) {
        color: var(--br-comp-actions-popover-trigger-text);

        .br-actions-popover__trigger-expander-icon {
            transform: rotate(180deg);
        }
    }


    &__trigger-text {
        color: inherit;
    }


    &__trigger-icon {
        height: calc(var(--_icon-size) * 1.25);
        aspect-ratio: 1/1;
        margin: 0;
        padding: 0;
        @include icon;
        mask-image: var(--_br-svg-popover-trigger-icon);
    }

    &__panel {
        position-anchor: --popover-anchor;
        box-shadow: var(--br-comp-actions-popover-pane-panel-box-shadow);

        &:popover-open {
            display: grid;
        }

        grid-auto-rows: min-content;
        grid-template-columns: auto 1fr;
        align-content: start;
        gap: var(--br-unit-space-3);
        min-width: 0;
        padding-block: 1rem;
        padding-inline: var(--br-unit-space-3);
        background-color: var(--br-comp-actions-popover-pane-panel-background);
        border-style: var(--br-comp-actions-popover-pane-panel-border-style);
        border-color: var(--br-comp-actions-popover-pane-panel-border-colour);
        border-width: var(--br-comp-actions-popover-pane-panel-border-width);
        border-radius: var(--br-comp-actions-popover-pane-panel-border-radius);
        align-items: center;
        position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline;

        &:not(:has(.br-actions-popover__icon-slot--with-icon)) {
            grid-template-columns: 1fr;
        }

        &[data-br-actions-popover-position="top-centre"] {
            margin-block-end: 0.5rem;
            position-area: block-start;
            position-try-fallbacks: flip-block;
        }

        &[data-br-actions-popover-position="top-left"] {
            margin-block-end: 0.5rem;
            position-area: block-start span-inline-end;
            position-try-fallbacks: flip-block, flip-inline;
        }

        &[data-br-actions-popover-position="top-right"] {
            margin-block-end: 0.5rem;
            position-area: block-start span-inline-start;
            position-try-fallbacks: flip-block, flip-inline;
        }

        &[data-br-actions-popover-position="bottom-left"] {
            margin-block-start: 0.5rem;
            position-area: block-end span-inline-end;
            position-try-fallbacks: flip-block, flip-inline;
        }

        &[data-br-actions-popover-position="bottom-centre"] {
            margin-block-start: 0.5rem;
            position-area: block-end;
            position-try-fallbacks: flip-block;
        }

        &[data-br-actions-popover-position="bottom-right"] {
            margin-block-start: 0.5rem;
            position-area: block-end span-inline-start;
            position-try-fallbacks: flip-block, flip-inline;
        }

        &[data-br-actions-popover-position="centre-left"] {
            margin-inline-end: 0.5rem;
            position-area: inline-start;
            position-try-fallbacks: flip-inline;
        }

        &[data-br-actions-popover-position="centre-right"] {
            margin-inline-start: 0.5rem;
            position-area: inline-end;
            position-try-fallbacks: flip-inline;
        }

        & ul, & li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: contents;
        }
    }

    button.br-actions-popover__action-button {
        grid-column: 1/-1;
        appearance: none;
        border: none;
        display: inline-grid;
        grid-template-columns: subgrid;
        align-items: center;
        background-color: var(--br-comp-actions-popover-item-background);
        border-color: var(--br-comp-actions-popover-item-border-colour);
        border-width: var(--br-comp-actions-popover-item-border-width);
        border-radius: var(--br-comp-actions-popover-item-border-radius);
        font-family: var(--br-comp-actions-popover-item-font-family);
        font-size: var(--br-comp-actions-popover-item-font-size);
        font-weight: var(--br-comp-actions-popover-item-font-weight);
        line-height: var(--br-comp-actions-popover-item-line-height);
        padding-block: var(--br-unit-space-2);
        padding-inline: var(--br-unit-space-4);
        min-height: var(--br-unit-wcag-target-2a);
        cursor: pointer;

        &:hover {
            background-color: var(--br-comp-actions-popover-item-state-hover);
        }

        &:active {
            transform: scale(var(--br-comp-actions-popover-item-state-active-scale));
            filter: brightness(var(--br-comp-actions-popover-item-state-active-brightness));
            outline: none;
        }

        &:focus-visible {
            outline-style: var(--br-comp-actions-popover-item-outline-style);
            outline-width: var(--br-comp-actions-popover-item-outline-width);
            outline-offset: var(--br-comp-actions-popover-item-outline-offset);
            outline-color: var(--br-comp-actions-popover-item-outline-colour);
        }
    }

    &__action-link {
        grid-column: 1/-1;
        display: inline-grid;
        grid-template-columns: subgrid;
        align-items: center;
        background-color: var(--br-comp-actions-popover-item-background);
        border-color: var(--br-comp-actions-popover-item-border-colour);
        border-width: var(--br-comp-actions-popover-item-border-width);
        border-radius: var(--br-comp-actions-popover-item-border-radius);
        font-family: var(--br-comp-actions-popover-item-font-family);
        font-size: var(--br-comp-actions-popover-item-font-size);
        font-weight: var(--br-comp-actions-popover-item-font-weight);
        line-height: var(--br-comp-actions-popover-item-line-height);
        padding-block: var(--br-unit-space-2);
        padding-inline: var(--br-unit-space-4);
        min-height: var(--br-unit-wcag-target-2a);
        color: var(--br-comp-actions-popover-item-text);
        text-decoration-color: currentcolor;

        &:hover {
            background-color: var(--br-comp-actions-popover-item-state-hover);
        }

        &:active {
            filter: brightness(var(--br-comp-actions-popover-item-state-active-brightness));
            outline: none;
        }

        &:focus-visible {
            outline-style: var(--br-comp-actions-popover-item-outline-style);
            outline-width: var(--br-comp-actions-popover-item-outline-width);
            outline-offset: var(--br-comp-actions-popover-item-outline-offset);
            outline-color: var(--br-comp-actions-popover-item-outline-colour);
        }
    }

    &__action-text {
        grid-column: 2/3;
        white-space: nowrap;
        text-align: start;
        color: var(--br-comp-actions-popover-item-text);
    }

    &__icon-slot {
        grid-column: 1/2;
        margin: 0;
        padding: 0;

        &--with-icon {
            mask-image: var(--_br-svg-popover-action-icon);
            aspect-ratio: 1/1;
            height: calc(var(--_icon-size) * 1.25);
            color: var(--_br-svg-popover-action-icon-colour, var(--br-unit-colour-canvas-text));
            @include icon;
        }
    }



    &__panel-separator {
        grid-column: 1/-1;
        margin: 0;
        border: none;
        opacity: 1;
        border-top-color: var(--br-comp-actions-popover-separator-border-colour);
        border-top-style: var(--br-comp-actions-popover-separator-border-style);
        border-top-width: var(--br-comp-actions-popover-separator-border-width);
        margin-block: var(--br-unit-space-1);
    }
}   