@use "_root-pager";

@mixin icon {
    display: inline-block;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}


.br-pager {
    background-color: var(--br-comp-pager-pane-base-background);
    border-style: var(--br-comp-pager-pane-base-border-style); 
    border-color: var(--br-comp-pager-pane-base-border-colour);
    border-width: var(--br-comp-pager-pane-base-border-width); 
    border-radius:var(--br-comp-pager-pane-base-border-radius);

    box-sizing: border-box;
    container-type: inline-size;
    width: 100%;
    display: flex;
    justify-content: center;

    &--start {
        justify-content: start;
    }

    &--end {
        justify-content: end;
    }

    & > span {
        display: none;
    }

    &__items {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        width: fit-content;
        gap: var(--br-unit-space-4) var(--br-unit-space-4);
        min-width: 0;

        @container (max-width: 500px) {

            .br-pager__information {
                grid-column: 1/-1;
                grid-row: 1/2;
            }

            .br-pager__button--first,
            .br-pager__link--first {
                grid-column: 2/3;
                grid-row: 3/4;
                justify-self: end;
            }

            .br-pager__button--last,
            .br-pager__link--last {
                grid-column: 3/4;
                grid-row: 3/4;
                justify-self: start;
            }
        }
    }
    //stop bootstrap reseting/overriding f-ing everything.
    button.br-pager__button {
        cursor: pointer;
        min-width: 15ch;
        appearance: none;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        gap: var(--br-unit-space-3);
        background: var(--br-comp-pager-selector-background);
        color: var(--br-comp-pager-selector-text);
        font-family: var(--br-comp-pager-selector-font-family);
        font-size: var(--br-comp-pager-selector-font-size);
        font-weight: var(--br-comp-pager-selector-font-weight);
        line-height: var(--br-comp-pager-selector-line-height);
        border-style: var(--br-comp-pager-selector-border-style);
        border-color: var(--br-comp-pager-selector-border-colour);
        border-width: var(--br-comp-pager-selector-border-width);
        border-radius: var(--br-comp-pager-selector-border-radius);
        padding-block: var(--br-unit-space-1);
        padding-inline: var(--br-unit-space-4);
        min-height: var(--br-unit-wcag-target-2a);

        &--next {
            justify-content: end;
        }

        &--last {
            justify-content: end;
        }

        &[aria-disabled] {
            cursor: not-allowed;
            border-color: transparent;

            @media (forced-colors: active) {
                border-color: GrayText;
                color: GrayText;
            }
        }


        &:active:not([aria-disabled]) {
            transform: scale(var(--br-comp-pager-selector-state-active-scale));
            filter: brightness(var(--br-comp-pager-selector-state-active-brightness));
            outline: none;
        }

        &:focus-visible {
            outline-offset: var(--br-comp-pager-selector-outline-offset);
            outline-width: var(--br-comp-pager-selector-outline-width);
            outline-style: var(--br-comp-pager-selector-outline-style);
            outline-color: var(--br-comp-pager-selector-outline-colour);
        }


        &:hover:not([aria-disabled]) {
            background-color: var(--br-comp-pager-selector-state-hover);
        }
    }



    &__link {
        cursor: pointer;
        min-width: 15ch;
        appearance: none;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        gap: var(--br-unit-space-3);
        color: var(--br-comp-pager-selector-text);
        font-family: var(--br-comp-pager-selector-font-family);
        font-size: var(--br-comp-pager-selector-font-size);
        font-weight: var(--br-comp-pager-selector-font-weight);
        line-height: var(--br-comp-pager-selector-line-height);
        padding-block: var(--br-unit-space-1);
        padding-inline: var(--br-unit-space-4);
        min-height: var(--br-unit-wcag-target-2a);
        border-style: var(--br-comp-pager-selector-border-style);
        border-width: var(--br-comp-pager-selector-border-width);
        border-radius: var(--br-comp-pager-selector-border-radius);
        border-color: transparent;

        &:hover:not([aria-disabled]) {
            border-color: var(--br-comp-pager-selector-border-colour);
            background-color: var(--br-comp-pager-selector-state-hover);
        }


        &--next {
            justify-content: end;
        }

        &--last {
            justify-content: end;
        }

        &[aria-disabled] {
            cursor: not-allowed;
            text-decoration: none;

            @media (forced-colors: active) {
                color: GrayText;
            }

            &:hover {
                border-color: transparent;

                @media (forced-colors: active) {
                    border-color: GrayText;
                }
            }
        }

        &:focus-visible:not([aria-disabled]) {
            border-color: var(--br-comp-pager-selector-border-colour);

        }

        &:focus-visible {
            outline-offset: var(--br-comp-pager-selector-outline-offset);
            outline-width: var(--br-comp-pager-selector-outline-width);
            outline-style: var(--br-comp-pager-selector-outline-style);
            outline-color: var(--br-comp-pager-selector-outline-colour);
        }
    }

    &__button, &__link {
        &[aria-disabled="true"] .br-pager__icon {
            visibility: hidden;
        }

        &--first {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: start;
        }

        &--previous {
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: end;
        }

        &--next {
            grid-column: 3/4;
            grid-row: 2/3;
            justify-self: start;
        }

        &--last {
            grid-column: 4/5;
            grid-row: 2/3;
            justify-self: end;
        }
    }

    &__icon {
        @include icon;
        aspect-ratio: 1/1;
        height: 1.5rem;
        margin: 0;
        padding: 0;

        [dir="rtl"] & {
            transform: scaleX(-1);
        }

        &--next {
            mask-image: var(--svg-pager-next-icon);
        }

        &--prev {
            mask-image: var(--svg-pager-prev-icon);
        }

        &--first {
            mask-image: var(--svg-pager-first-icon);
        }

        &--last {
            mask-image: var(--svg-pager-last-icon);
        }
    }

    &__selector-text {
    }

    &__information {
        grid-column: 1 / -1;
        grid-row: 1;
        font-size: var(--br-comp-pager-display-font-size);
        font-weight: var(--br-comp-pager-display-font-weight);
        color: var(--br-comp-pager-display-text);
        background-color: var(--br-comp-pager-display-background);
        text-align: center;
    }
}
