:root {
    --br-comp-busy-pane-base-background: var(--br-comp-all-overlay-colour);
    --br-comp-busy-pane-base-border-radius: var(--br-comp-all-pane-base-border-radius);
    --br-comp-busy-pane-surface-background: transparent;
    --br-comp-busy-pane-surface-line-height: var(--br-comp-all-pane-surface-line-height);
    --br-comp-busy-area-content-background: var(--br-comp-all-focus-indicator-colour);
    --br-comp-busy-area-content-font-family: var(--br-comp-all-area-content-font-family);
    --br-comp-busy-area-content-font-weight: var(--br-comp-all-area-content-font-weight);
    --br-comp-busy-area-content-text: var(--br-unit-colour-canvas-text-inverted);
    --br-comp-busy-area-content-font-size:var(--br-unit-font-size-label);
    --br-comp-busy-spinner-colour: var(--br-comp-all-focus-indicator-colour);
    --br-comp-busy-area-content-border-radius: var(--br-comp-all-area-content-border-radius);
}
