@mixin hourglass-icon {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--br-svg-hourglass-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}

@mixin quarter-circle-icon {
    display: inline-block;
    background-color: currentColor;
    mask-image: var(--br-svg-quarter-circle-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    @media (forced-colors: active) {
        background-color: CanvasText;
        color: Canvas;
    }
}

.br-busy-indicator {
    z-index: 999;
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--br-comp-all-overlay-colour);
    justify-content: center;
    align-items: flex-start;
    border: var(--br-unit-border-2) solid transparent;
    border-radius: var(--br-unit-radius-2);
    line-height: var(--br-unit-line-height-1);
    pointer-events: none;

    &:focus-visible {
        border-color: var(--br-comp-all-focus-indicator-colour);
    }

    &--display-flex {
        display: flex;
    }

    &--unfixed {
        position: absolute;
    }

    &--centred {
        align-items: center;
    }

    &__content {
        width: fit-content;
        padding: 1rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--br-unit-space-4);
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 500px;
    }

    &__text {
        font-size: var(--br-unit-font-size-label);
        color: var(--br-unit-colour-canvas-text-inverted);
        background-color: var(--br-comp-all-focus-indicator-colour);
        padding: var(--br-unit-space-3);
        border-radius: var(--br-unit-radius-3);
    }

    &__spinner {
        height: 3rem;
        width: 3rem;
        color: var(--br-comp-all-focus-indicator-colour);
        @include quarter-circle-icon;
    }

    @media (prefers-reduced-motion: reduce) {
        &__spinner {
            @include hourglass-icon;
        }
    }
}
